@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev {
  @apply !right-[50%] !left-[unset] -translate-x-[12rem] block
  bg-sky-400 !text-white rounded-full m-10 !w-[var(--swiper-navigation-size)]
  after:scale-50;
}

.swiper-button-next {
    @apply !left-[50%] !right-[unset] translate-x-[12rem] block
    after:scale-50
    bg-sky-400 !text-white rounded-full m-10 !w-[var(--swiper-navigation-size)];
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
  }
}

@layer utilities {
  .bg-primary {
    background-color: hsl(var(--primary));
  }
}