@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.swiper-button-prev {
  @apply !right-[55%] !left-[unset] -translate-x-[6rem] sm:-translate-x-[8rem] 2xl:-translate-x-[12rem] block p-6 after:scale-75
  bg-sky-400 !text-white rounded-full m-10 !w-[var(--swiper-navigation-size)];
}

.swiper-button-next {
    @apply !left-[55%] !right-[unset] translate-x-[6rem] sm:translate-x-[8rem] 2xl:translate-x-[12rem] block p-6 after:scale-75
    bg-sky-400 !text-white rounded-full m-10 !w-[var(--swiper-navigation-size)];
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
  }
}

@layer utilities {
  .bg-primary {
    background-color: hsl(var(--primary));
  }
}